h1{
    position: adaptive;
   right: 40%;
   color: rgb(0, 0, 0);
}


    
#gsg{ position: adaptive;
    bottom: 76%;
    right: 50%;
   color:rgb(0, 0, 0);
   font-size: 17px;
}
a{position: adaptive;
    bottom: 75%;
font-size: 25px;
color: rgb(243, 0, 0);
    
}


